@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.5);
  }

  .chip {
    @apply cursor-default text-white text-[15px] px-3 py-1 bg-[#2A2A2A] rounded-full hover:bg-[#3b3b3b] border-transparent focus:border-transparent focus:ring-0 outline-none focus:bg-[#F6F6F6] focus:text-black font-medium;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
