@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");

@layer base {
  body {
    @apply font-all bg-[#121212] p-0 m-0 box-border;
  }
}

/* Always a good idea to seperate the CSS properties */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.5);
  }

  .chip {
    @apply cursor-default text-white text-[15px] px-3 py-1 bg-[#2A2A2A] rounded-full hover:bg-[#3b3b3b] border-transparent focus:border-transparent focus:ring-0 outline-none focus:bg-[#F6F6F6] focus:text-black font-medium;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
